.l-wrapper {
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Meiryo, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.l-main {
    max-width: 1032px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px
}

@media screen and (max-width:1032px) {
    .l-main {
        padding-left: 0;
        padding-right: 0
    }
}

@media screen and (max-width:768px) {
    .l-main {
        width: 100%
    }
}

.l-main__menu {
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (max-width:768px) {
    .l-main__menu {
        width: 100%;
        display: block
    }
}

.l-main__inner {
    width: 100%;
    margin-bottom: 125px
}

@media screen and (max-width:1032px) {
    .l-main__inner {
        width: auto;
        margin-bottom: 9.68992%;
        padding-right: 3.90625%;
        padding-left: 3.90625%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}

.l-main-md {
    max-width: 502px;
    margin: 0 auto 90px
}

@media screen and (max-width:768px) {
    .l-main-md {
        max-width: 100%;
        margin: 0 auto 13.02083%
    }
}

.u-position--absolute {
    position: absolute
}

.u-mt--none {
    margin-top: 0 !important
}

.u-mb--none {
    margin-bottom: 0 !important
}

.u-ml--none {
    margin-left: 0 !important
}

.u-mr--none {
    margin-right: 0 !important
}

.u-mt--xs {
    margin-top: 5px !important
}

.u-mb--xs {
    margin-bottom: 5px !important
}

.u-ml--xs {
    margin-left: 5px !important
}

.u-mr--xs {
    margin-right: 5px !important
}

.u-mt--sm {
    margin-top: 10px !important
}

.u-mb--sm {
    margin-bottom: 10px !important
}

.u-ml--sm {
    margin-left: 10px !important
}

.u-mr--sm {
    margin-right: 10px !important
}

.u-mt--md {
    margin-top: 30px !important
}

.u-mb--md {
    margin-bottom: 30px !important
}

.u-ml--md {
    margin-left: 30px !important
}

.u-mr--md {
    margin-right: 30px !important
}

.u-mt--lg {
    margin-top: 50px !important
}

.u-mb--lg {
    margin-bottom: 50px !important
}

.u-ml--lg {
    margin-left: 50px !important
}

.u-mr--lg {
    margin-right: 50px !important
}

.u-mt--xl {
    margin-top: 60px !important
}

.u-mb--xl {
    margin-bottom: 60px !important
}

.u-ml--xl {
    margin-left: 60px !important
}

.u-mr--xl {
    margin-right: 60px !important
}

.u-mt--xll {
    margin-top: 70px !important
}

.u-mb--xll {
    margin-bottom: 70px !important
}

.u-ml--xll {
    margin-left: 70px !important
}

.u-mr--xll {
    margin-right: 70px !important
}

@media (min-width:1033px) {
    .u-mt-lg--none {
        margin-top: 0 !important
    }

    .u-mb-lg--none {
        margin-bottom: 0 !important
    }

    .u-ml-lg--none {
        margin-left: 0 !important
    }

    .u-mr-lg--none {
        margin-right: 0 !important
    }

    .u-mt-lg--xs {
        margin-top: 5px !important
    }

    .u-mb-lg--xs {
        margin-bottom: 5px !important
    }

    .u-ml-lg--xs {
        margin-left: 5px !important
    }

    .u-mr-lg--xs {
        margin-right: 5px !important
    }

    .u-mt-lg--sm {
        margin-top: 10px !important
    }

    .u-mb-lg--sm {
        margin-bottom: 10px !important
    }

    .u-ml-lg--sm {
        margin-left: 10px !important
    }

    .u-mr-lg--sm {
        margin-right: 10px !important
    }

    .u-mt-lg--md {
        margin-top: 30px !important
    }

    .u-mb-lg--md {
        margin-bottom: 30px !important
    }

    .u-ml-lg--md {
        margin-left: 30px !important
    }

    .u-mr-lg--md {
        margin-right: 30px !important
    }

    .u-mt-lg--lg {
        margin-top: 50px !important
    }

    .u-mb-lg--lg {
        margin-bottom: 50px !important
    }

    .u-ml-lg--lg {
        margin-left: 50px !important
    }

    .u-mr-lg--lg {
        margin-right: 50px !important
    }

    .u-mt-lg--xl {
        margin-top: 60px !important
    }

    .u-mb-lg--xl {
        margin-bottom: 60px !important
    }

    .u-ml-lg--xl {
        margin-left: 60px !important
    }

    .u-mr-lg--xl {
        margin-right: 60px !important
    }

    .u-mt-lg--xll {
        margin-top: 70px !important
    }

    .u-mb-lg--xll {
        margin-bottom: 70px !important
    }

    .u-ml-lg--xll {
        margin-left: 70px !important
    }

    .u-mr-lg--xll {
        margin-right: 70px !important
    }
}

.u-pt--none {
    padding-top: 0 !important
}

.u-pb--none {
    padding-bottom: 0 !important
}

.u-pl--none {
    padding-left: 0 !important
}

.u-pr--none {
    padding-right: 0 !important
}

.u-pt--xs {
    padding-top: 5px !important
}

.u-pb--xs {
    padding-bottom: 5px !important
}

.u-pl--xs {
    padding-left: 5px !important
}

.u-pr--xs {
    padding-right: 5px !important
}

.u-pt--sm {
    padding-top: 10px !important
}

.u-pb--sm {
    padding-bottom: 10px !important
}

.u-pl--sm {
    padding-left: 10px !important
}

.u-pr--sm {
    padding-right: 10px !important
}

.u-pt--md {
    padding-top: 30px !important
}

.u-pb--md {
    padding-bottom: 30px !important
}

.u-pl--md {
    padding-left: 30px !important
}

.u-pr--md {
    padding-right: 30px !important
}

.u-pt--lg {
    padding-top: 50px !important
}

.u-pb--lg {
    padding-bottom: 50px !important
}

.u-pl--lg {
    padding-left: 50px !important
}

.u-pr--lg {
    padding-right: 50px !important
}

.u-pt--xl {
    padding-top: 60px !important
}

.u-pb--xl {
    padding-bottom: 60px !important
}

.u-pl--xl {
    padding-left: 60px !important
}

.u-pr--xl {
    padding-right: 60px !important
}

.u-pt--xll {
    padding-top: 70px !important
}

.u-pb--xll {
    padding-bottom: 70px !important
}

.u-pl--xll {
    padding-left: 70px !important
}

.u-pr--xll {
    padding-right: 70px !important
}

.u-txt--left {
    text-align: left !important
}

.u-txt--center {
    text-align: center !important
}

.u-txt--right {
    text-align: right !important
}

.u-txt--justify {
    text-align: justify !important
}

.u-width--12 {
    width: 100%
}

.u-width--11 {
    width: 91.66666667%
}

.u-width--10 {
    width: 83.33333333%
}

.u-width--9 {
    width: 75%
}

.u-width--8 {
    width: 66.66666667%
}

.u-width--7 {
    width: 58.33333333%
}

.u-width--6 {
    width: 50%
}

.u-width--5 {
    width: 41.66666667%
}

.u-width--4 {
    width: 33.33333333%
}

.u-width--3 {
    width: 25%
}

.u-width--2 {
    width: 16.66666667%
}

.u-width--1 {
    width: 8.33333333%
}

.u-width--sm {
    width: 110px !important
}

.u-width--xs {
    width: 75px !important
}

.u-clearfix:after {
    content: "";
    display: block;
    clear: both
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,
h1 {
    font-size: 52px;
    line-height: 63/52
}

.h1,
.h2,
h1,
h2 {
    font-weight: 700
}

.h2,
h2 {
    font-size: 46px;
    line-height: 52/46
}

.h3,
.h4,
h3,
h4 {
    font-size: 28px;
    line-height: 34/28;
    font-weight: 700
}

.h5,
h5 {
    font-size: 26px;
    line-height: 26/18
}

.h6,
h6 {
    font-size: 14px;
    line-height: 14/24
}

.lead {
    font-size: 20px;
    font-weight: 24/20
}

a {
    color: #b71f2d;
    -webkit-transition: all .3s;
    transition: all .3s
}

a:hover {
    opacity: .6
}

a.mod-header__link {
    color: inherit
}

.text-right {
    text-align: right !important
}

.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-justify {
    text-align: justify !important
}

.c-main-lead {
    font-size: 18px;
    padding-top: 0 !important;
    line-height: 1.5
}

@media screen and (max-width:768px) {
    .c-main-lead {
        font-size: 3.90625vw
    }
}

@media screen and (max-width:768px) and (max-width:384px) {
    .c-main-lead {
        font-size: 15px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-main-lead {
        font-size: 30px
    }
}

.c-main-title {
    font-weight: 700;
    font-size: 52px;
    padding-bottom: 2.42248%;
    line-height: 1.2;
    border-bottom: 2px solid #e8e8e8;
    position: relative;
    margin-bottom: 4.84496%
}

@media screen and (max-width:768px) {
    .c-main-title {
        border-bottom: 1px solid #e8e8e8;
        font-size: 6.77083vw
    }
}

@media screen and (max-width:768px) and (max-width:295.38462px) {
    .c-main-title {
        font-size: 20px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-main-title {
        font-size: 52px
    }
}

.c-main-title:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    content: " ";
    width: 12px;
    height: 2px;
    background-color: #111
}

@media screen and (max-width:768px) {
    .c-main-title:after {
        height: 1px;
        bottom: -1px
    }
}

.c-main-line {
    font-weight: 700;
    font-size: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 34px;
    margin-top: 40px
}

@media screen and (max-width:768px) {
    .c-main-line {
        margin-bottom: 4.42708%
    }
}

.c-main-line span {
    margin: 0 5%
}

.c-main-line:after,
.c-main-line:before {
    content: " ";
    height: 1px;
    width: 100%;
    background: #707070;
    display: block;
    opacity: .16
}

.c-step {
    padding-bottom: 40px
}

.c-step--img {
    margin: 30px auto 40px;
    display: block
}

@media screen and (max-width:768px) {
    .c-step--img {
        margin: 9.76563% auto 13.02083%
    }
}

.c-step--lead {
    text-align: center;
    font-size: 18px;
    padding-top: 0
}

@media screen and (max-width:768px) {
    .c-step--lead {
        font-size: 3.90625vw
    }
}

@media screen and (max-width:768px) and (max-width:384px) {
    .c-step--lead {
        font-size: 15px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-step--lead {
        font-size: 30px
    }
}

.c-step .c-title-sub {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    padding-top: 15px
}

@media screen and (max-width:768px) {
    .c-step .c-title-sub {
        font-size: 4.16667vw;
        padding-top: 1.95313%;
        width: 90%
    }
}

@media screen and (max-width:768px) and (max-width:288px) {
    .c-step .c-title-sub {
        font-size: 12px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-step .c-title-sub {
        font-size: 32px
    }
}

.c-step .c-title-sub__link {
    padding-left: 8px;
    color: #b71f2d
}

.fa-star {
    color: #fff;
    text-shadow: 0 0 2px #707070;
    margin-right: 16px
}

.fa-star.checked {
    color: #f8ff4b
}

.c-btn {
    display: block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #b71f2d;
    line-height: 1.5;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 0;
    max-width: 280px;
    padding-top: 1.45349%;
    padding-bottom: 1.45349%
}

.c-btn:hover {
    opacity: .8
}

.c-btn.center {
    margin: 0 auto
}

.btn--lg {
    font-size: 26px;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    padding-top: 2.42248%;
    padding-bottom: 2.42248%
}

@media screen and (max-width:768px) {
    .btn--lg {
        max-width: 100%;
        font-size: 3.38542vw
    }
}

@media screen and (max-width:768px) and (max-width:590.76923px) {
    .btn--lg {
        font-size: 20px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .btn--lg {
        font-size: 26px
    }
}

.btn--round {
    border-radius: 20px;
    max-width: 180px;
    padding-top: .4845%;
    padding-bottom: .4845%
}

.c-btn-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.c-btn-arrow:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8%;
    height: 14px;
    width: 7px;
    background: url(/assets/img/common/icon_arrow_white_right.png) no-repeat 50%;
    background-size: contain;
    content: " ";
    display: block;
    margin-left: 10px
}

@media screen and (max-width:768px) {
    .c-btn-arrow:after {
        height: 10px;
        width: 7px
    }
}

.c-link {
    text-decoration: underline
}

.c-link:hover {
    text-decoration: none
}

.c-link i {
    margin-left: 5px;
    font-size: 80%
}

.c-btn-login .c-btn {
    margin: 0 auto
}

@media screen and (max-width:768px) {
    .c-btn-login .c-btn {
        max-width: 100%
    }
}

.c-btn--face {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 22px 0;
    font-size: 26px;
    position: relative;
    background-color: #1877f2
}

.c-btn--face.color--gray {
    background-color: #f0f0f0;
    color: #1877f2
}

.c-btn--face i {
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 42px
}

@media screen and (max-width:768px) {
    .c-btn--face i {
        font-size: 3.90625vw;
        position: relative;
        margin-right: 0;
        top: 0;
        left: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@media screen and (max-width:768px) and (max-width:460.8px) {
    .c-btn--face i {
        font-size: 18px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-btn--face i {
        font-size: 30px
    }
}

.c-btn--face span {
    padding-left: 5%
}

@media screen and (max-width:768px) {
    .c-btn--face {
        padding: 2.42248% 2%;
        font-size: 3.90625vw;
        width: 96%
    }
}

@media screen and (max-width:768px) and (max-width:460.8px) {
    .c-btn--face {
        font-size: 18px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-btn--face {
        font-size: 30px
    }
}

@media screen and (max-width:768px) {
    .c-btn--face span {
        font-size: 3.90625vw
    }
}

@media screen and (max-width:768px) and (max-width:460.8px) {
    .c-btn--face span {
        font-size: 18px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-btn--face span {
        font-size: 30px
    }
}

.btn-to-account {
    color: #b71f2d;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    display: block;
    max-width: 500px;
    margin: 0 auto;
    text-align: left
}

@media screen and (max-width:768px) {
    .btn-to-account {
        font-size: 3.90625vw;
        text-align: center;
        margin-bottom: 4.29688%;
        margin-top: 11.71875%
    }
}

@media screen and (max-width:768px) and (max-width:384px) {
    .btn-to-account {
        font-size: 15px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .btn-to-account {
        font-size: 30px
    }
}

.c-btn--detail {
    border-radius: 50px;
    max-width: 120px;
    padding-top: .4845%;
    padding-bottom: .4845%;
    font-size: 14px;
    font-weight: 700;
    text-indent: -10px;
    margin: 0
}

@media screen and (max-width:768px) {
    .c-btn--detail {
        margin: 0 auto;
        font-size: 3.90625vw;
        max-width: 60%
    }
}

@media screen and (max-width:768px) and (max-width:384px) {
    .c-btn--detail {
        font-size: 15px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-btn--detail {
        font-size: 30px
    }
}

.c-btn--detail span {
    position: relative;
    display: block
}

.c-btn--detail span:after {
    width: 15px;
    height: 7px;
    content: " ";
    background: url(/assets/img/common/icon_promotion.png) no-repeat 90% 45%;
    background-size: contain;
    position: absolute;
    left: 82%;
    top: 43%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media screen and (max-width:768px) {
    .c-btn--detail span:after {
        width: 10%;
        height: 7px
    }
}

.c-btn {
    border: 0;
    cursor: pointer
}

.c-banner {
    width: 100%;
    display: inline-block;
    background: #333;
    margin-bottom: 165px
}

@media screen and (max-width:1032px) {
    .c-banner {
        margin-bottom: 7.75194%
    }
}

@media screen and (max-width:768px) {
    .c-banner {
        margin-bottom: 0
    }
}

.c-banner__inner {
    padding-top: 9.68992%;
    padding-bottom: 9.68992%;
    color: #fff;
    max-width: 1032px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    position: relative
}

.c-banner__inner .h1,
.c-banner__inner h1 {
    font-weight: 400
}

.c-banner__inner .h2,
.c-banner__inner h2 {
    font-weight: 700
}

@media screen and (max-width:768px) {

    .c-banner__inner .h2,
    .c-banner__inner h2 {
        font-size: 6.77083vw
    }
}

@media screen and (max-width:768px) and (max-width:221.53846px) {

    .c-banner__inner .h2,
    .c-banner__inner h2 {
        font-size: 15px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {

    .c-banner__inner .h2,
    .c-banner__inner h2 {
        font-size: 52px
    }
}

@media (min-width:1032px) {
    .c-banner__inner {
        padding-top: 36px;
        padding-bottom: 36px
    }
}

.banner--account,
.banner--head,
.banner--signup {
    background: #333 url(/assets/img/common/signup_bg.png);
    background-size: cover
}

@media screen and (max-width:768px) {

    .banner--account,
    .banner--head,
    .banner--signup {
        background: #333 url(/assets/img/common/signup_bg_sp.png);
        background-size: cover
    }
}

.banner--account .btn-back,
.banner--head .btn-back,
.banner--signup .btn-back {
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 8%;
    left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff
}

.banner--account .btn-back:before,
.banner--head .btn-back:before,
.banner--signup .btn-back:before {
    content: "<";
    display: block;
    padding-right: 10px
}

@media screen and (max-width:768px) {

    .banner--account .btn-back,
    .banner--head .btn-back,
    .banner--signup .btn-back {
        left: 17px;
        top: 10%;
        font-size: 3.25521vw
    }
}

@media screen and (max-width:768px) and (max-width:460.8px) {

    .banner--account .btn-back,
    .banner--head .btn-back,
    .banner--signup .btn-back {
        font-size: 15px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {

    .banner--account .btn-back,
    .banner--head .btn-back,
    .banner--signup .btn-back {
        font-size: 25px
    }
}

.banner--account .btn-more-benefit,
.banner--head .btn-more-benefit,
.banner--signup .btn-more-benefit {
    font-weight: 700;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    max-width: 520px;
    margin: 20px auto 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0
}

.banner--account .btn-more-benefit:after,
.banner--head .btn-more-benefit:after,
.banner--signup .btn-more-benefit:after {
    content: " ";
    display: block;
    padding-left: 15px;
    width: 17px;
    height: 9px;
    background: url(/assets/img/common/icon_arrow_white_down.png) no-repeat 100%
}

@media screen and (max-width:768px) {

    .banner--account .btn-more-benefit,
    .banner--head .btn-more-benefit,
    .banner--signup .btn-more-benefit {
        max-width: 75%;
        font-size: 3.38542vw;
        padding: 1.5625% 0;
        margin: 2.60417% auto 0
    }
}

@media screen and (max-width:768px) and (max-width:354.46154px) {

    .banner--account .btn-more-benefit,
    .banner--head .btn-more-benefit,
    .banner--signup .btn-more-benefit {
        font-size: 12px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {

    .banner--account .btn-more-benefit,
    .banner--head .btn-more-benefit,
    .banner--signup .btn-more-benefit {
        font-size: 26px
    }
}

.c-banner__inner h2 {
    font-size: 52px
}

@media screen and (max-width:768px) {
    .c-banner__inner h2 {
        font-size: 6.77083vw
    }
}

@media screen and (max-width:768px) and (max-width:221.53846px) {
    .c-banner__inner h2 {
        font-size: 15px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .c-banner__inner h2 {
        font-size: 52px
    }
}

.banner--top {
    background-color: transparent
}

.banner--top__list {
    width: 100%;
    display: inline-block;
    margin: 0 auto
}

.banner--top__list .list__item {
    width: 25%;
    position: relative;
    float: left;
    padding-top: 25%;
    -webkit-transition: .5s;
    transition: .5s
}

.banner--top__list .list__item.item-lg {
    padding-top: 30.90278%;
    width: 50%
}

.banner--top__list .list__item.item-lg .figcaption {
    bottom: 6.74157%
}

.banner--top__list .list__item.item-mid {
    padding-top: 22.91667%;
    width: 50%
}

.banner--top__list .list__item.item-mid .figcaption {
    bottom: 12.12121%
}

.banner--top__list .list__item.item-col3 {
    width: 33.33333%;
    padding-top: 16.66667%
}

.banner--top__list .list__item.item-col3 .figcaption {
    bottom: 12.5%
}

.banner--top__list .list__item.item-small {
    padding-top: 6.25%;
    width: 25%
}

.banner--top__list .list__item.item-small .figcaption {
    bottom: 12.12121%
}

.banner--top__list .list__item.item-small.item-samll__large {
    padding-top: 6.25%;
    width: 75%
}

.banner--top__list .list__item.item-large {
    padding-top: 30.90278%;
    width: 100%
}

.banner--top__list .list__item.item-large .figcaption {
    bottom: 12.12121%
}

.banner--top__list .list__item.item-large .figcaption .sub-title {
    margin-bottom: .69444%
}

.banner--top__list .list__item.bg-cyan {
    background: url(/assets/img/top/banner_top_05.jpg) no-repeat 50%;
    background-size: 100% 100%
}

.banner--top__list .list__item.bg-cyan .title {
    background-color: rgba(40, 112, 132, .82)
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-cyan {
        background: url(/assets/img/top/banner_top_05_sp.jpg) no-repeat 50%;
        background-size: 100% 100%
    }
}

.banner--top__list .list__item.bg-green {
    background: url(/assets/img/top/banner_top_01.jpg) no-repeat 50%;
    background-size: 100% 100%
}

.banner--top__list .list__item.bg-green .title {
    background-color: rgba(117, 124, 44, .82)
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-green {
        background: url(/assets/img/top/banner_top_01_sp.jpg) no-repeat 50%;
        background-size: 100% 100%
    }
}

.banner--top__list .list__item.bg-pink {
    background: url(/assets/img/top/banner_top_02.jpg) no-repeat 50%;
    background-size: 100% 100%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-pink {
        background: url(/assets/img/top/banner_top_02_sp.jpg) no-repeat 50%;
        background-size: 100% 100%
    }
}

.banner--top__list .list__item.bg-pink .title {
    background-color: rgba(204, 104, 111, .82)
}

.banner--top__list .list__item.bg-blue {
    background: url(/assets/img/top/banner_top_03.jpg) no-repeat 50%;
    background-size: 100% 100%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-blue {
        background: url(/assets/img/top/banner_top_03_sp.jpg) no-repeat 50%;
        background-size: 100% 100%
    }
}

.banner--top__list .list__item.bg-blue .title {
    background-color: rgba(42, 89, 184, .82)
}

.banner--top__list .list__item.bg-purple {
    background: url(/assets/img/top/banner_top_04.jpg) no-repeat 50%;
    background-size: 100% 100%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-purple {
        background: url(/assets/img/top/banner_top_04_sp.jpg) no-repeat 50%;
        background-size: 100% 100%
    }
}

.banner--top__list .list__item.bg-purple .title {
    background-color: rgba(127, 52, 128, .82)
}

.banner--top__list .list__item.bg-brown {
    background: url(/assets/img/top/banner_top_sj55.jpg) no-repeat 50%;
    background-size: 100% 100%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-brown {
        background: url(/assets/img/top/banner_top_sj55_sp.jpg) no-repeat 50%;
        background-size: 100% 100%
    }
}

.banner--top__list .list__item.bg-brown .title {
    background-color: rgba(114, 62, 40, .82)
}

.banner--top__list .list__item.bg-green-exp6 {
    background: url(/assets/img/top/banner_top_07_v3.jpg) no-repeat 50%;
    background-size: 100% 100%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-green-exp6 {
        background: url(/assets/img/top/banner_top_07_v3_sp.jpg) no-repeat 50%;
        background-size: 100% 100%
    }
}

.banner--top__list .list__item.bg-green-exp6 .figcaption {
    bottom: 8.33333%
}

.banner--top__list .list__item.bg-green-exp6 .figcaption .title span {
    margin-bottom: 25px;
    display: inline-block
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-green-exp6 .figcaption .title span {
        margin-bottom: 0
    }
}

.banner--top__list .list__item.bg-green-exp7 {
    background: url(/assets/img/top/banner_top_08.jpg) no-repeat 50%;
    background-size: 100% 100%
}

.banner--top__list .list__item.bg-green-exp7 .title {
    background-color: rgba(117, 124, 44, .82)
}

.banner--top__list .list__item.bg-green-exp7 .title span {
    padding-left: .625%;
    padding-right: .625%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-green-exp7 .title span {
        padding-left: 2.4%;
        padding-right: 2.4%
    }
}

.banner--top__list .list__item.bg-green-exp7 .sub-title span {
    padding: .22222% 1.05556% .22222% .75694%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-green-exp7 .sub-title span {
        padding: .72667% 3.39333% .72667% 2.41333%
    }
}

.banner--top__list .list__item.bg-green-small {
    background: #489c0e
}

.banner--top__list .list__item.bg-green-small:hover {
    background: #398c01
}

.banner--top__list .list__item.bg-green-small .sub-title span {
    background: none
}

.banner--top__list .list__item.bg-red {
    background: #e7293b
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item {
        width: 50%;
        padding-top: 34.66667%
    }

    .banner--top__list .list__item.item-lg {
        padding-top: 61.33333%;
        width: 100%
    }

    .banner--top__list .list__item.item-mid {
        padding-top: 91.66667%
    }

    .banner--top__list .list__item.item-col3 {
        padding-top: 33.98438%;
        width: 50%
    }

    .banner--top__list .list__item.item-height-sp {
        padding-top: 69.32292%
    }

    .banner--top__list .list__item.item-small {
        width: 50%;
        padding-top: 34.66146%
    }

    .banner--top__list .list__item.item-small.item-samll__large {
        position: absolute;
        bottom: .6%;
        width: 100%;
        padding-top: 14.9%;
        z-index: 1
    }

    .banner--top__list .list__item.item-small.bg-green-small {
        margin-bottom: 14.8%
    }

    .banner--top__list .list__item.item-large {
        width: 100%;
        padding-top: 80.72917%
    }
}

.banner--top__list .list__item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.banner--top__list .list__item a.banner-online-link {
    width: 42.36111%;
    height: 60.67416%;
    top: 4.30556%;
    left: 28.75%;
    z-index: 1
}

.banner--top__list .list__item a.banner-online-link:hover {
    opacity: .8
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item a.banner-online-link {
        width: 72%;
        height: 55%;
        top: 4.8%;
        left: 14%
    }
}

.banner--top__list .list__item:hover {
    background-size: 110% 110%
}

.banner--top__list .list__item:hover a.h_effect {
    opacity: .8
}

.banner--top__list .list__item.bg-red:hover {
    background-size: 100% 100%
}

.banner--top__list .list__item figure {
    line-height: 0;
    position: relative;
    overflow: hidden
}

.banner--top__list .list__item .figcaption {
    line-height: 1.2;
    position: absolute;
    left: 0;
    bottom: 8.33333%;
    padding: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff
}

.banner--top__list .list__item .sub-title {
    font-weight: 700;
    display: block;
    margin-bottom: 2.77778%;
    font-size: 17px
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item .sub-title {
        font-size: 3.125vw
    }
}

@media screen and (max-width:768px) and (max-width:448px) {
    .banner--top__list .list__item .sub-title {
        font-size: 14px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .banner--top__list .list__item .sub-title {
        font-size: 24px
    }
}

.banner--top__list .list__item .sub-title span {
    display: inline-block;
    padding: .90909% 4.24242% .90909% 3.0303%;
    background-color: #489c0e;
    white-space: nowrap
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-red a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.banner--top__list .list__item .logo_jbyj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    max-width: 478px;
    width: 52%;
    margin: 0 auto
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item .logo_jbyj {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: auto;
        margin-top: 0 auto;
        width: 100%;
        max-width: 750px
    }
}

.banner--top__list .list__item .logo_jbyj figure {
    width: 23%;
    padding: 0 2% 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item .logo_jbyj figure {
        width: 19.46667%
    }
}

.banner--top__list .list__item .logo_jbyj span {
    font-size: 1.73913vw;
    font-weight: 700;
    color: #fff;
    padding-top: 0
}

@media (max-width:575px) {
    .banner--top__list .list__item .logo_jbyj span {
        font-size: 10px
    }
}

@media (min-width:1380px) {
    .banner--top__list .list__item .logo_jbyj span {
        font-size: 24px
    }
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item .logo_jbyj span {
        font-size: 3.38542vw
    }
}

@media screen and (max-width:768px) and (max-width:324.92308px) {
    .banner--top__list .list__item .logo_jbyj span {
        font-size: 11px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .banner--top__list .list__item .logo_jbyj span {
        font-size: 26px
    }
}

.banner--top__list .list__item .title {
    font-weight: 700;
    padding-top: 0;
    display: inline;
    line-height: 1.4;
    border-top: 1px solid #fff;
    font-size: 2.52427vw
}

@media (max-width:554.61538px) {
    .banner--top__list .list__item .title {
        font-size: 14px
    }
}

@media (min-width:1030px) {
    .banner--top__list .list__item .title {
        font-size: 26px
    }
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item .title {
        font-size: 4.42708vw
    }
}

@media screen and (max-width:768px) and (max-width:361.41176px) {
    .banner--top__list .list__item .title {
        font-size: 16px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .banner--top__list .list__item .title {
        font-size: 34px
    }
}

.banner--top__list .list__item .title span {
    padding-left: 2.72727%;
    padding-right: 2.72727%
}

.banner--top__list .list__item.item-lg .sub-title {
    margin-bottom: 1.36364%
}

.banner--top__list .list__item.item-lg .sub-title span {
    padding: .45455% 2.12121% .45455% 1.51515%
}

.banner--top__list .list__item.item-lg .title span {
    padding-left: 1.36364%;
    padding-right: 1.36364%
}

.banner--top__list .list__item.item-mid .sub-title {
    margin-bottom: 1.36364%
}

.banner--top__list .list__item.item-mid .sub-title span {
    padding: .45455% 2.12121% .45455% 1.51515%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.item-mid .sub-title {
        margin-bottom: 2.72727%
    }

    .banner--top__list .list__item.item-mid .sub-title span {
        padding: .90909% 4.24242% .90909% 3.0303%
    }
}

.banner--top__list .list__item.item-mid .title span {
    padding-left: 1.36364%;
    padding-right: 1.36364%
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.item-mid .title span {
        padding-left: 2.72727%;
        padding-right: 2.72727%
    }
}

.banner--top__list .list__item.bg-green-small .figcaption {
    height: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.banner--top__list .list__item.bg-green-small .figcaption .sub-title {
    width: 100%;
    text-align: center;
    margin-bottom: 0
}

.banner--top__list .list__item.bg-green-small .figcaption .sub-title span {
    padding: 0
}

.banner--top__list .list__item.bg-green-small .figcaption .title {
    width: 100%;
    text-align: center;
    border-top: 0;
    font-size: 2.3301vw
}

@media (max-width:600.83333px) {
    .banner--top__list .list__item.bg-green-small .figcaption .title {
        font-size: 14px
    }
}

@media (min-width:1030px) {
    .banner--top__list .list__item.bg-green-small .figcaption .title {
        font-size: 24px
    }
}

@media screen and (max-width:768px) {
    .banner--top__list .list__item.bg-green-small .figcaption .title {
        font-size: 4.03646vw
    }
}

@media screen and (max-width:768px) and (max-width:396.3871px) {
    .banner--top__list .list__item.bg-green-small .figcaption .title {
        font-size: 16px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {
    .banner--top__list .list__item.bg-green-small .figcaption .title {
        font-size: 31px
    }
}

.banner--top__list .list__item.bg-blue .title,
.banner--top__list .list__item.bg-cyan .title,
.banner--top__list .list__item.bg-green .title,
.banner--top__list .list__item.bg-pink .title,
.banner--top__list .list__item.bg-purple .title {
    font-size: 2.03883vw
}

@media (max-width:686.66667px) {

    .banner--top__list .list__item.bg-blue .title,
    .banner--top__list .list__item.bg-cyan .title,
    .banner--top__list .list__item.bg-green .title,
    .banner--top__list .list__item.bg-pink .title,
    .banner--top__list .list__item.bg-purple .title {
        font-size: 14px
    }
}

@media (min-width:882.85714px) {

    .banner--top__list .list__item.bg-blue .title,
    .banner--top__list .list__item.bg-cyan .title,
    .banner--top__list .list__item.bg-green .title,
    .banner--top__list .list__item.bg-pink .title,
    .banner--top__list .list__item.bg-purple .title {
        font-size: 18px
    }
}

@media screen and (max-width:768px) {

    .banner--top__list .list__item.bg-blue .title,
    .banner--top__list .list__item.bg-cyan .title,
    .banner--top__list .list__item.bg-green .title,
    .banner--top__list .list__item.bg-pink .title,
    .banner--top__list .list__item.bg-purple .title {
        font-size: 4.29688vw
    }
}

@media screen and (max-width:768px) and (max-width:325.81818px) {

    .banner--top__list .list__item.bg-blue .title,
    .banner--top__list .list__item.bg-cyan .title,
    .banner--top__list .list__item.bg-green .title,
    .banner--top__list .list__item.bg-pink .title,
    .banner--top__list .list__item.bg-purple .title {
        font-size: 14px
    }
}

@media screen and (max-width:768px) and (min-width:744.72727px) {

    .banner--top__list .list__item.bg-blue .title,
    .banner--top__list .list__item.bg-cyan .title,
    .banner--top__list .list__item.bg-green .title,
    .banner--top__list .list__item.bg-pink .title,
    .banner--top__list .list__item.bg-purple .title {
        font-size: 32px
    }
}

.c-no-background {
    background: #fff;
    margin-bottom: 0
}

.c-no-background .c-banner__inner {
    padding-bottom: 0
}

.c-no-background .btn-back {
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000
}

@media screen and (max-width:1032px) {
    .c-no-background .btn-back {
        left: 0
    }
}

.c-no-background .btn-back:before {
    content: "<";
    display: block;
    padding-right: 10px
}

.sj55 {
    margin-top: -5px
}

@media screen and (max-width:768px) {
    .sj55 {
        margin-top: -1.33333%
    }
}

.sj55 .banner--top__list.banner--slider {
    visibility: hidden
}

.sj55 .banner--top__list.banner--slider.slick-initialized {
    visibility: visible
}

.sj55 .banner--top__list .sj55--kv {
    background: #333 url(/assets/img/sj55/sj55_bg_pc.png);
    background-size: cover
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv {
        background: #333 url(/assets/img/sj55/sj55_bg_sp.png);
        background-size: cover
    }
}

.sj55 .banner--top__list .sj55--kv__inner {
    padding: 41.6px 0 40.5px;
    width: 49.1666%;
    max-width: 708px;
    z-index: 1;
    margin: 0 auto
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner {
        width: 92%;
        max-width: 690px;
        padding: 2.8133% 0 5.44%
    }
}

.sj55 .banner--top__list .sj55--kv__inner__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner__top {
        display: block;
        text-align: center
    }
}

.sj55 .banner--top__list .sj55--kv__inner__top .logo {
    width: 40.5367%;
    max-width: 287px
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner__top .logo {
        margin: 0 auto;
        width: 44.0579%;
        max-width: 100%
    }
}

.sj55 .banner--top__list .sj55--kv__inner__top .content {
    width: 52.4011%;
    color: #e50012
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner__top .content {
        margin: 0 auto;
        width: 100%
    }
}

.sj55 .banner--top__list .sj55--kv__inner__top .content h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner__top .content h3 {
        font-size: 4vw;
        margin: 2.66% 0 4.33%;
        line-height: 1.35rem
    }
}

.sj55 .banner--top__list .sj55--kv__inner__top .content .see-more .btn-see-more {
    color: #000;
    font-size: 20px;
    font-weight: 700
}

.sj55 .banner--top__list .sj55--kv__inner__top .content .see-more .btn-see-more:before {
    content: "";
    display: inline-block;
    margin-right: 1.25em;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background: url(/assets/img/sj55/icon_arrow.png) no-repeat 50%;
    background-size: 100%
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner__top .content .see-more .btn-see-more {
        font-size: 4vw
    }

    .sj55 .banner--top__list .sj55--kv__inner__top .content .see-more .btn-see-more:before {
        margin-right: 1.1em;
        width: 1.8em;
        height: 1.8em
    }
}

.sj55 .banner--top__list .sj55--kv__inner .organizer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8.36158%
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner .organizer {
        margin-top: 4.33%
    }
}

.sj55 .banner--top__list .sj55--kv__inner .organizer img {
    width: 100%
}

.sj55 .banner--top__list .sj55--kv__inner .organizer .o01 {
    width: 19.774%;
    max-width: 140.55px
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner .organizer .o01 {
        width: 21.01449%;
        max-width: 100%
    }
}

.sj55 .banner--top__list .sj55--kv__inner .organizer .o02 {
    width: 15.06779%;
    max-width: 106.68px;
    margin-left: 34px
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv__inner .organizer .o02 {
        width: 15.94203%;
        max-width: 100%
    }
}

.sj55 .banner--top__list .sj55--kv-sm {
    background: #333 url(/assets/img/sj55/sj55_bg_sm_pc.jpg);
    background-size: cover
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv-sm {
        background: #333 url(/assets/img/sj55/sj55_bg_sm_sp.jpg);
        background-size: cover
    }
}

.sj55 .banner--top__list .sj55--kv-sm__inner {
    padding: 20px 0 19px;
    width: 100%;
    max-width: 722px;
    z-index: 1;
    margin: 0 auto
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv-sm__inner {
        width: 82.8%;
        max-width: 621px;
        padding: 10px 0 20px
    }
}

.sj55 .banner--top__list .sj55--kv-sm__inner__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start
}

.sj55 .banner--top__list .sj55--kv-sm__inner__top .logo {
    width: 16.6205%;
    max-width: 128px;
    margin-right: 4.15512%
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv-sm__inner__top .logo {
        width: 25.7649%;
        max-width: 100%;
        margin: 0 6.44122% 0 0
    }
}

.sj55 .banner--top__list .sj55--kv-sm__inner__top .content {
    width: 51.24654%;
    color: #e50012;
    margin-right: 6.92521%
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv-sm__inner__top .content {
        margin: 0;
        width: 67.79388%
    }
}

.sj55 .banner--top__list .sj55--kv-sm__inner__top .content h3 {
    margin: 0
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv-sm__inner__top .content h3 {
        font-size: 4.275vw
    }
}

.sj55 .banner--top__list .sj55--kv-sm__inner__top .see-more .btn-see-more {
    color: #000;
    font-size: 20px;
    font-weight: 700
}

.sj55 .banner--top__list .sj55--kv-sm__inner__top .see-more .btn-see-more:before {
    content: "";
    display: inline-block;
    margin-right: 1.25em;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background: url(/assets/img/sj55/icon_arrow.png) no-repeat 50%;
    background-size: 100%
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .sj55--kv-sm__inner__top .see-more .btn-see-more {
        font-size: 4vw
    }

    .sj55 .banner--top__list .sj55--kv-sm__inner__top .see-more .btn-see-more:before {
        margin-right: 1.1em;
        width: 1.8em;
        height: 1.8em
    }
}

.sj55 .banner--top__list .list__item {
    padding-top: 100%
}

@media screen and (max-width:768px) {
    .sj55 .banner--top__list .list__item {
        padding-top: 80%
    }
}

.sj55 .banner--top__list .list__item.item-small.item-samll__large {
    position: relative;
    width: 100%
}

.sj55 .slider-wrap {
    position: relative
}

.sj55 .slider-wrap .arrow {
    top: 40%;
    position: absolute;
    width: 5%;
    cursor: pointer
}

@media screen and (max-width:768px) {
    .sj55 .slider-wrap .arrow {
        top: 42%;
        width: 11.5%
    }

    .sj55 .slider-wrap .arrow img {
        width: 100%
    }
}

.sj55 .slider-wrap .arrow.next {
    right: 10px
}

.sj55 .slider-wrap .arrow.prev {
    left: 10px
}

@media screen and (max-width:799px) {
    .sj55 .slider-wrap .dim {
        top: 0;
        position: absolute;
        width: 10%;
        height: 100%;
        background: rgba(0, 0, 0, .58)
    }

    .sj55 .slider-wrap .dim.left-dim {
        left: 0
    }

    .sj55 .slider-wrap .dim.right-dim {
        right: 0
    }
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(0);
        transform: translatey(0)
    }

    50% {
        -webkit-transform: translatey(-50px);
        transform: translatey(-50px)
    }

    to {
        -webkit-transform: translatey(0);
        transform: translatey(0)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translatey(0);
        transform: translatey(0)
    }

    50% {
        -webkit-transform: translatey(-50px);
        transform: translatey(-50px)
    }

    to {
        -webkit-transform: translatey(0);
        transform: translatey(0)
    }
}

.floating_banner {
    position: absolute;
    top: -40%;
    right: 20px;
    z-index: 2;
    width: 204px;
    height: auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 0 0 29%;
    overflow: hidden;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    -webkit-animation: float 5s ease-in-out infinite;
    animation: float 5s ease-in-out infinite;
    padding-bottom: 190px
}

.floating_banner img {
    width: 100%;
    height: auto
}

.floating_banner .floating-item {
    border-radius: 50%;
    overflow: hidden
}

.floating_banner .floating-item:nth-of-type(2) {
    position: absolute;
    bottom: 0
}

@media screen and (min-width:1032px) {
    .floating_banner {
        top: -60%
    }
}

@media screen and (max-width:799px) {
    .floating_banner {
        top: -20%
    }
}

@media screen and (max-width:768px) {
    .floating_banner {
        top: -65%;
        right: 2.66667%;
        width: 38.66667%;
        max-width: 290px;
        padding-bottom: 38.66667%
    }

    .floating_banner .floating-item:nth-of-type(2) {
        bottom: 4%
    }
}

html {
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Meiryo, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

@media screen and (max-width:768px) {

    body,
    html {
        font-size: 3.90625vw
    }
}

@media screen and (max-width:768px) and (max-width:358.4px) {

    body,
    html {
        font-size: 14px
    }
}

@media screen and (max-width:768px) and (min-width:768px) {

    body,
    html {
        font-size: 30px
    }
}

body {
    color: #000
}

body,
p {
    margin: 0
}

p {
    padding: 0;
    text-justify: inter-character
}

:not([class~=-isolated])+p {
    padding-top: 1em
}

.section {
    max-width: 1260px;
    margin: auto
}

@media screen and (max-width:576px) {
    .section {
        padding: 0 6.94444%
    }
}

@media screen and (min-width:576px) {
    .section {
        padding: 0 40px
    }
}

.page-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1260px;
    margin: auto
}

@media screen and (min-width:768px) {
    .page-head {
        padding: 0 40px
    }
}

.page-head__inner {
    width: 100%
}

@media screen and (max-width:768px) {
    .page-head__inner {
        margin-bottom: 1em
    }

    .page-head__inner,
    .page-head__inner h1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 48px
    }

    .page-head__inner h1 {
        position: relative;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    }
}

@media screen and (min-width:768px) {
    .page-head__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 100px
    }
}

.page-head__inner h1 {
    padding: 0;
    margin: 0
}

.page-head .logo {
    display: block;
    width: 100px;
    height: auto
}

.global-navigation {
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
    font-size: .8125rem
}

@media screen and (max-width:768px) {
    .global-navigation {
        display: block
    }

    .global-navigation a {
        text-decoration: none
    }

    .global-navigation a,
    .global-navigation a>span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .global-navigation a>span {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 3em;
        padding: 0 2em
    }
}

@media screen and (min-width:768px) {

    .global-navigation a,
    .global-navigation a>span {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        text-decoration: none
    }

    .global-navigation a>span {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 3em;
        color: inherit;
        padding: 0 2em
    }

    .global-navigation a:hover {
        background-color: #c00
    }
}

.page-foot {
    max-width: 1260px;
    margin: auto
}

@media screen and (max-width:576px) {
    .page-foot {
        padding: 0 6.94444%
    }
}

@media screen and (min-width:576px) {
    .page-foot {
        padding: 0 40px
    }
}

.page-foot .copyright {
    font-size: smaller;
    padding: 1em 0;
    text-align: center
}

[data-module-summary] {
    min-height: 13.333333333333334vw;
    font-size: 2vw;
    background: #ccc;
    margin: 0 0 5vw
}

[data-module-summary],
[data-module-titlebar] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1vw;
    line-height: 1.5
}

[data-module-titlebar] {
    height: 13.333333333333334vw;
    text-align: center;
    font-size: 3vw;
    color: #fff;
    background: #292929;
    margin: 3vw 0
}

[data-module-titlebar]>ul {
    padding: 1vw 1vw 1vw 2em
}

.youtube iframe {
    width: 100%
}

.print-only,
.slick-slide img.print-only {
    display: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    font-family: proxima-nova, Century, sans-serif
}

hr {
    border: none;
    border-bottom: 2px solid #e8e8e8
}

.content-main-wrapper {
    margin-top: 0px
}

@media screen and (max-width:1024px) {
    .content-main-wrapper {
        margin-top: 0px
    }
}

.body--cookie-bar-active .content-main-wrapper {
    margin-top: 110px
}

@media screen and (max-width:1024px) {
    .body--cookie-bar-active .content-main-wrapper {
        margin-top: 190px
    }
}

.mod-breadcrumb__item:last-child:after {
    display: none
}

@media screen and (min-width:769px) {
    .show-sp {
        display: none !important
    }
}

@media screen and (max-width:768px) {
    .show-pc {
        display: none !important
    }
}

.img-avt {
    width: 30%;
    background: url(/assets/img/common/signup_bg_sp.png) no-repeat 50%;
    background-size: cover;
    padding-top: 30.55556%;
    border-radius: 50%;
    margin: 0 auto 40px;
    overflow: hidden
}

@media screen and (max-width:768px) {
    .img-avt {
        width: 50%;
        padding-top: 41.66667%;
        margin: 0 auto 5.20833%
    }
}